@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;600&family=Poppins:wght@300;600&display=swap');

* { 
    margin: 0;
    padding: 0;
    border: none;
}

body { 
    font-family: Figtree, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1 {
    font-family: Poppins, sans-serif;
    text-transform: lowercase;
    font-weight: 600;
    letter-spacing: 0.20px;
    color: #69c0c7;
    text-decoration: none;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
}

.left-header {
    flex: 300px;
}

.right-header {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    border-bottom: none;
}

a {
    text-decoration: none;
}

#menu {
    font-size: 100%;
    letter-spacing: 1.5px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #e01c3f;
}

.active {
    border-bottom: 1px solid #69c0c7;
}

.embed-highlight {
    color: #69c0c7;
    font-family: Figtree, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.embed-red {
    color: #e01c3f;
    font-family: Figtree, sans-serif;
    font-weight: 600;
    font-size: 22px;
}

.social-detail {
    height: 400px;
    width: 100%;
    background-color: #f5eed6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social-box {
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 10px;
}
/*
#social-x {
    <i class="fa-brands fa-x-twitter" style="color: #bd2d22;"></i>    
}

#social-insta {
   <i class="fa-brands fa-instagram" style="color: #69c0c7;"></i>
}

#social-facebook {
    <i class="fa-brands fa-facebook" style="color: #bd2d22;"></i> 
}
*/
.standard-section {
    margin: 20px, 10px;
}